.dashboardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  padding: 1rem;
  margin: 0.5rem 1rem 1rem 1rem;
  min-height: 100vh;
  box-sizing: border-box; 
  background-color: var(--header-background);
  color: var(--text-color);
}

.card {
  min-height: 1rem;
  max-width: 25rem;
  max-height: 10rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding:1.5rem;
  margin: 0; 
  
  background-color: var(--header-background);
  color: var(--text-color);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.searchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  max-width: 20rem;
  max-height: 5rem;
  margin-bottom: 1rem;
  /* border: 1px solid #ddd; */
  border-radius: 0.5rem;
}

.searchInput {
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 0.45rem;
  font-size: 1rem;
  margin-bottom: 1rem; 
}

.hotkeyKeys {
  text-align: center;
  font-weight: bold;
}



.cardTitle {
  font-size: 1.2rem;
  text-decoration: underline;
  color: var(--text-color);
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.cardList {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  color: var(--text-color);
}

.cardItem {
  padding: 0.5rem 0;
  border-bottom: 1px solid #eaecef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  font-size: 1.1rem;
  
}

.cardItem:last-child {
  border-bottom: none;
}

.code {
  background-color: #000000;
  padding: 0.3rem 0.6rem;
  border-radius: 0.3rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.8rem;
  color: #fff;
}

@media (max-width: 768px) {
  .dashboardContainer {
    grid-template-columns: 1fr;
  }
}

.icon {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}


::-webkit-scrollbar {
  width: 0.7rem;
  
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
