


.header {
  display: flex;
  justify-content: space-between;
  justify-self: center;
  align-items: center;
  padding: 1rem 2rem;
  margin:1rem;
  background-color: var(--header-background);
  color: var(--text-color);
  border-radius: 10px;
}

/* .logo a {
  font-size: 1.5rem;
 
  color: var(--text-color);
  text-decoration: none;
  
} */

.logo {
  margin: 0;
  border-radius: 100%;
  padding: 1.2rem -12rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.logo:hover {
  transform: translateY(-5px);
  /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); */
}


.navigation ul {
  list-style: none;
  display: flex;
  gap: 3rem; 
  
}


.navigation li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.2rem;
}

.navTitle {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  
}

.navTitle:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.themeSwitcher {
  background: #55555549; 
  border: none;
  max-width: 5rem;
  max-height: 5rem;
  border-radius: 50%;
  color: #eeeaea;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.themeSwitcher:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Theme styles */
/* .light {
  --header-background: #eee; 
  --header-color: #bababa;
}

.dark {
  --header-background: #333; 
  --header-color: #ddd;
} */

