* {

  padding: 0;
  margin: 0;
}

:root {
  font-family: 'Didact Gothic', sans-serif;
  line-height: 1.5;
  font-weight: 400;

 
  background-color: rgba(99, 165, 156, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.app.light {
  --background-color: rgba(241, 241, 241, 0.83);
  --text-color: #000000;
}

.app.dark {
  --background-color: #2a2a2ac8;
  --text-color: #e7e7e7;
 
}

body, .app {
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 10px;
  padding: 1rem;
}
